---
import { Image } from 'astro:assets';
import ArticleLayout from '../../layouts/ArticleLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('articles');
  return posts.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<ArticleLayout>
  <div class="article-header">
    {entry.data.heroImage && (
      <div class="hero-image">
        <Image 
          src={entry.data.heroImage} 
          alt={entry.data.heroAlt || ''} 
          width={720} 
          height={405}
          formats={['avif', 'webp']}
        />
      </div>
    )}
    <h1>{entry.data.title}</h1>
    <p><em>Published on: {new Date(entry.data.pubDate).toLocaleDateString()}</em></p>
  </div>
  <hr />
  <Content />
</ArticleLayout>

<style>
  .article-header {
    text-align: center;
  }
  .hero-image {
    margin-bottom: 2rem;
  }
  .hero-image img { /* Style the generated <img> tag */
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  h1 {
    margin-bottom: 0.5rem;
  }
  .article-header p {
    margin-top: 0;
    font-size: 0.9em;
    color: #888;
  }
</style>