---
// src/pages/contact.astro
import ContactLayout from '../layouts/ContactLayout.astro';
---
<ContactLayout>
  <h1>Contact Us</h1>
  <p>
    Have a hot tip, a correction, or a complaint you'd like to shout into the digital void? You've come to the right place. Our team of highly-trained pigeons is standing by to intercept your messages.
  </p>
  <p>
    Please note that our Complaints Department is currently a theoretical construct located in a pocket dimension. While we appreciate the sentiment, all submissions are transmuted directly into cosmic background radiation. Results may vary.
  </p>

  <h2>Get in Touch</h2>
  <ul>
    <li><strong>Twitter/X:</strong> Find us at @ParodyObserver, where our social media intern occasionally posts pictures of their cat.</li>
    <li><strong>Carrier Pigeon:</strong> Please attach your message to a pigeon of standard size and temperament. We are not responsible for messages lost to hawks or existential dread.</li>
    <li><strong>Telepathy:</strong> Just think really, really hard about your message. If we happen to be thinking about you at the same time, it might work. No guarantees.</li>
  </ul>
</ContactLayout>