---
// src/pages/contact.astro
import ContactLayout from '../layouts/ContactLayout.astro';
---
<ContactLayout>
  <h1>Contact Us</h1>
  <p>
    Do you want to give us real currency? I'm talking real currencies like USD, GBP or DONG. Then get in touch.  
  <p>
    If not, why are we talking? 
  </p>
  </p>

  <h2>Get in Touch</h2>
  <ul>
    <li><strong>TikTok</strong> Follow us on TikTok. We are young so we know how to use TikTok. If you are an ailing consultant with thousands of pounds to spend, you can give us some of them and we will show you how to use it.</li>
    <li><strong>Faith</strong> We may also be contacted through the power of prayer.</li>
  </ul>
</ContactLayout>